<img src="/assets/logo.png" alt="logo" style="width:100px;height:100px;">
<h1>NeemTree!</h1>
<h2>Buy or sell among thousands of your local community memebers</h2>
<%= link_to "All listings", alllist_index_path %>
