<h1>*logo*NeemTree!</h1>
<h2>Buy or sell from thousands of your local community memebers</h2>
<%= link_to "Log-in", new_user_path  %>
<%= link_to "Sign Up!", new_user_path %>
<%= link_to "All listings", new_user_path %>
