<div id=container>
  <div id="logo">
    <div class="mes">
     <img src="/assets/logo.png" alt="logo" style="width:80px;height:80px;">
     <h1 id="h1home">NeemTree!</h1>
    </div>
    <h2 class="home">Buy or sell among thousands of your local community memebers</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  <div id="faceimg">
    <img src="/assets/home.jpg" alt="faceimg">
  </div>
</div>

<p id="home"><%= link_to "All listings", alllist_index_path %></p>
<div id="foot">
  <img src="/assets/car.jpg" alt="car">
  <img src="/assets/house.png" alt="house">
  <img src="/assets/mobile.png" alt="mobile">
  <img src="/assets/music.png" alt="music">
  <img src="/assets/tool.jpg" alt="tool">
</div>
