// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');

body{
  background-color:white;
}
.lis{
  margin: 0 auto;
  text-align: center;
}
#list{
  border-radius: 7px;
  border: 1px solid white;
  width:30%;
  padding: 1em 0;
  margin: 0 auto;
  background-color:#f2f2f2;
}
fieldset{
  padding: 1em;
  border: 1px solid white;
  margin: 2px;
  background-color:#e6e6e6;
  font-size: 18px;
}

.tit{
  width:70%;
  height:20px;
}

.des{
  width:100%;
  height: 100px;
  display: block;
  text-align: 0, left;
}

.but{
  width:90%;
  margin-top:10px;
  margin-left: 20px;
  position: relative;
  padding:5px;
  height:15%;
  box-shadow:5px 2px;
  border-radius: 4px;
}
.thumb{
  width:20%;
  max-height: 30em;
}
