// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.des{
  width:300px;
  height: 125px;
  display: block;
  text-align: 0, left;

}
